/* Website Colors */
:root {
    --primary_color: #FFFBF5;
    --secondary_color: #222222;
    --accent_color: rgb(228,97,157);
}

body {
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: var(--primary_color);
    font-size: 10px;
}

h1 {
    color: var(--secondary_color);
    font-family: "Junge", serif;
}

a {
    text-decoration: none;
}

/* Header */
#header-container {
    display: flex;
    position: fixed;
    width: 100vw;
    z-index: 1;
    background-color: var(--primary_color);
    top: 0;
}

/* Header Logo */
#header-logo {
    margin: 3% 0 0 3%;
}

#header-logo-img {
    height: 100px;
}

/* Navigation Bar */
#navigation-bar {
    display: flex;
    align-items: center;
    right: 0;
    flex-grow: 1;
}

#nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    right: 0;
    top: 0;
    background-color: black;
    opacity: 75%;
    list-style: none;
    z-index: 2;
}

.nav-elem a{
    margin:0%;
    z-index: 2;
    background-color: black;
}
.nav-elem a h1{
    color: var(--primary_color);
    font-size: 4rem;
}

#nav-button {
    margin: 0 10% 0 auto;
    color: var(--secondary_color);
    z-index: 3;
}

.nav-elem {
    padding: 5px 4%;
}

#nav-contact {
    padding: 5px 0px 5px 3%;
}

#navigation-bar h1:hover {
    color: rgb(228,97,157);
    text-decoration: underline;
    text-underline-position: under;
}

