h1 {
    font-family: "Junge", serif;
}

h2 {
    font-family: "Questrial", sans-serif;
}

/* Contact */
#contact {
    width: 90vw;
    height: auto;
    padding: 112px 5vw 224px 5vw;
}

#contact-title {
    width: 100%;
    display: flex;
    font-size: 2.5rem;
    justify-content: center;
    padding-bottom: 5%;
}

#contact-body {
    display: flex;
}

#contact-header {
    display: flex;
    justify-content: center;
    font-size: 3em;
    padding-bottom: 10%;
}

/* Contact Image */
#contact-details {
    max-width: 50vw;
    max-height: 150vh;
}

#contact-detail-img {
    width: 100%;
    transform: scaleX(-1);
}

#contact-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
}

#contact-header {
    display: flex;
    justify-content: center;
}

/* Contact Info */
#instagram-info {
    display: flex;
}

#instagram-contact-icon {
    padding: 25px;
    width: 100px;
    width: 100px;
}

.social-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-text p {
    font-family: "Questrial", sans-serif;
    font-size: 2.5em;
}

#email-info {
    display: flex;
}

#email-contact-icon {
    width: 150px;
}

/* Contact Form */
#contact-form-container {
    width: 50%;
    padding-top: 10%;
    display: flex;
    margin: 0 auto;
}

#contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-input {
    padding: 20px 0px 5px 0px;
    font-family: "Questrial", sans-serif;
    font-size: 2em;
}

.small-input {
    width: 100%;
}

#message-form {
    height: 150px;
    width: 100%;
}

#submit-button {
    margin-top: 30px;
    background-color: var(--secondary_color);
    color: var(--primary_color);
    width: 10%;
    border-radius: 3px;
}
