footer {
    width: 100vw;
    display: flex;
    align-items: center;
}

/* Footer Logo */
#footer-logo {
    margin: 5px 0px;
    margin-left: 2%;
}

#footer-logo-img {
    height: 100px;
}

/* Copyright */
#copyright {
    font-family: "Questrial", sans-serif;
    font-size: 20px;
}

#copyright {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 2%;
}

/* Verification Links */
#verification {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0px 30px;
}

#verification a {
    font-family: "Questrial", sans-serif;
    font-size: 10px;
    padding: 0 15px;
    text-decoration: none;
}

/* Social Links */
#footer-social {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-grow: 1;
    margin-right: 4%;
}

.footer-social-elem {
    padding: 0px 10px;
}

#email-icon {
    width: 53px;
}

#instagram-icon {
    width: 30px;
}

