/* Profile */
#profile {
    height: auto;
    min-height: 150vh;
    width: 90vw;
    padding: 112px 0;
    margin: 0 5vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#profile-title {
    width: 100%;
    display: flex;
    font-size: 2.5rem;
    justify-content: center;
}

#profile h1 {
    font-family: "Junge", serif;
}

#profile-body {
    padding-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}

/* Profile Image */
#profile-image {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    width: 50%;
    min-width: 350px;
    margin-top: 112px;
}

#portrait {
    width: 100%;
    max-height: 100vh;
    border-radius: 10%;
}

/* Profile Text */
#profile-text {
    font-family: "Questrial", sans-serif;
    margin-top: 112px;
    width: 40%;
    float: right;
    flex-grow: 1;
}

#profile-text h2 {
    font-size: 3rem;
    margin: 0;
}

#profile-text p {
    color: var(--secondary_color);
    font-size: 1.5rem;
    line-height: 150%;
    padding: 20% 0%;
    margin: 0;
}

#profile-text h3 {
    font-size: 1.5rem;
    margin: 0;
}